@tailwind base;
@tailwind components;
@tailwind utilities;





.truncate-start {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

/* Multi-color Gradient */
.gradient-multi-color {
  background: linear-gradient(45deg,
      #3498db,
      #2ecc71,
      #e74c3c,
      #ecf0f1,
      #2c3e50,
      #f39c12,
      #27ae60,
      #8e44ad);
}

.sky-gradient-10 {
  background: linear-gradient(to bottom, #f8fdff 0%, #ffffff 100%);
}

/* use in dashboard btn bg color*/

.sky-gradient-11 {
  background: linear-gradient(to bottom, #cae5f0 0%, #b8eafc 100%);
}

/* used in dashboard bg color*/


@layer utilities {


  .widget {
    @apply min-w-full h-[60vh] px-2 py-1 rounded-2xl cursor-pointer bg-white;
  }

  @media (min-width: 640px) {
    .widget {
      @apply max-w-[50%] min-w-[48%] h-80;
      /* small screens */
    }
  }

  @media (min-width: 768px) {
    .widget {
      @apply min-w-[48%];
      /*  medium screens and up */
    }
  }

  @media (min-width: 1024px) {
    .widget {
      @apply max-w-[30%];
      /*  large screens and up */
    }
  }

  @media (min-width: 1280px) {
    .widget {
      @apply w-[30%];
      /* extra-large screens and up */
    }
  }

  @media (min-width: 1536px) {
    .widget {
      @apply min-w-[32%] h-60;
      /*  extra-extra-large screens and up */
    }
  }




  .flex-center {
    @apply flex items-center justify-center;
  }

  .custom-scrollbar {

    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 20px;
      /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      /* Hide the scrollbar track background */
    }

    &::-webkit-scrollbar-thumb {
      background: #393737;
      /* Customize the scrollbar thumb color */
    }

    /* For Firefox */
    scrollbar-color: grey transparent;
    /* Customize thumb and track color */
  }
}

